*.html
content_stealer.sublime-workspace
ninegag
siliconrus
pikabu
tjournal
adme
lookatme
furfur

ninegag_pics/*
siliconrus_pics/*
pikabu_pics/*
tjournal_pics/*
adme_pics/*
lookatme_pics/*
furfur_pics/*